.DS_Store
.ipynb_checkpoints
/data/subway/subway2019.csv
/data/subway/subway2020.csv
/data/subway/subway2022.csv
/data/citibike/citibike2019.csv
/data/citibike/citibike2020.csv
/data/citibike/citibike2022.csv